@page "/weather"
@inject HttpClient Http
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@using Models;

<PageTitle>Animales</PageTitle>

<h1>Animales registrados</h1>

<p>
    <button class="btn btn-danger" @onclick="BorrarTodo">Borrar animales</button>
</p>

@if (aves == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <h2>Aves</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Especie.</th>
                <th>Tipo de Alimentacion.</th>
                <th>Tiempo de vida.</th>
                <th>Vuela.</th>
                <th>Periodo de incubación.</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ave in aves)
            {
                <tr>
                    <td>@ave.nombre</td>
                    <td>@ave.especie</td>
                    <td>@ave.tipoAlimentacion</td>
                    <td>@ave.tiempoVida</td>
                    <td>@ave.vuela</td>
                    <td>@ave.periodoIncubacion</td>
                   
                </tr>
            }
        </tbody>
    </table>
}


@if (serpientes == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <p></p>
    <h2>Serpientes</h2>
    <p></p>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre.</th>
                <th>Especie.</th>
                <th>Tipo de alimentación.</th>
                <th>Tiempo de vida.</th>
                <th>Venenosa.</th>
                <th>Longitud maxima.</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var serpiente in serpientes)
            {
                <tr>
                    <td>@serpiente.nombre</td>
                    <td>@serpiente.especie</td>
                    <td>@serpiente.tipoAlimentacion</td>
                    <td>@serpiente.tiempoVida</td>
                    <td>@serpiente.venenosa</td>
                    <td>@serpiente.longitud</td>
                    
                </tr>
            }
        </tbody>
    </table>
}




@code {
    //Codigo para metodos y listas de los animales
    private List<Aves> aves = new List<Aves>();
    private List<Reptiles> serpientes = new List<Reptiles>();

    protected override async Task OnInitializedAsync()
    {
        //Recuperar y validar datos
        var savedAves = localStorage.GetItem<List<Aves>>("aves");
        if (savedAves != null)
        {
            aves = savedAves;
        }

        var savedSerpientes = localStorage.GetItem<List<Reptiles>>("serpientes");
        if (savedSerpientes != null)
        {
            serpientes = savedSerpientes;
        }
    }

    private async Task BorrarTodo()
    {
        localStorage.RemoveItem("alimentos");
        aves = new List<Aves>();

        localStorage.RemoveItem("serpientes");
        serpientes = new List<Reptiles>();
    }
}